@font-face {
  font-family: "interSemiBold";
  src: url("./interSemiBold.otf");
}
@font-face {
  font-family: "interMedium";
  src: url("./Inter-Medium.ttf");
}
@font-face {
  font-family: "interRegular";
  src: url("./interRegular.ttf");
}
@font-face {
  font-family: "interLight";
  src: url("./interLight.ttf");
}