.progressive__missions__left-icon {
  background: #313341;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.toaster-template__info-wrapper {
  .coinBalance {
    font-size: 12px;
  }
}