$mobile-headerHeight: 40px;
$mobile-topBarHeight: 40px;
$mobile-categoryHeight: 40px;
$account-dialog-logo-width: 160px;
$account-dialog-logo-height: 40px;
$mobile-footerHeight: 49px;
$mobile-pageHeight: calc(100vh - 115px);

/*------- newsletter ---------*/
$mobile-newsletter-height: 0px; // 0px if the skin does not have mobile newsletter
