.game-box-progress-bar {
  background: #444E5C;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  position: relative;

  &__value--centered {
    left: 3rem;
  }

  &__active {
    height: 10px;
    background: #88BC5B;
    border-radius: 50px;

    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 4px;
      font-weight: 700;
      font-size: 9px;
      color: #FFFFFF;
    }
  }
}