.wager-freespins-complete-toaster {
  &__progress-bar-wrapper {
    margin-top: 8px;
  }

  &__progress-bar-text {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #BBBBBD;
    margin-top: 4px;

    span {
      color: #FFBF17;
    }
  }
}