.game-box-jackpot-mission-toaster {
  &__checkbox-wrapper {
    margin-top: 21px;
  }
}

.toaster.mobile {
  &.gameBoxJackpotMission {
    right: 50%;
    transform: translateX(50%);
    top: 55px;
  }
}